.line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    // border-style: solid;
}

.letter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    padding: 0.5em;
    margin: 0.1em;
    border-radius: 5px;
    border-style: solid;
}