<app-end-game
  [gameWon]="won"
  [gameOver]="gameOver"
  [solution]="solution"
  *ngIf="gameOver || won"
></app-end-game>
<!-- <app-account *ngIf="loginClicked"></app-account> -->
<app-account></app-account>
<div class="main-container">
  <app-progress-spinner
    class="loading-spinner"
    [@loadingScreen]="isLoading ? 'isLoading' : 'hasLoaded'"
  >
  </app-progress-spinner>
  <div class="header">
    <div class="header-content">
      <div class="language-selection">
        <div
          class="french"
          (click)="changeLanguage('fr')"
          [ngClass]="{
            'language-selected': getLanguage() === 'fr'
          }"
        >
          🇫🇷
        </div>
        <div
          class="english"
          (click)="changeLanguage('en')"
          [ngClass]="{
            'language-selected': getLanguage() === 'en'
          }"
        >
          🇺🇸
        </div>
      </div>
      <div class="title">
        <div class="title-french" *ngIf="getLanguage() === 'fr'">
          <div class="title-letter-correct">L</div>
          <div>E</div>
          <div>&nbsp;</div>
          <div class="title-letter-present">M</div>
          <div>O</div>
          <div>T</div>
        </div>
        <div class="title-english" *ngIf="getLanguage() === 'en'">
          <div class="title-letter-correct">W</div>
          <div>O</div>
          <div>R</div>
          <div class="title-letter-present">D</div>
          <div>L</div>
          <div>E</div>
        </div>
      </div>
      <div class="actions">
        <div class="login" (click)="toggleLogin()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-person-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
            />
          </svg>
        </div>
        <div class="settings">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-gear-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="lines-holder">
    <div
      class="line"
      *ngFor="let id of LINE_IDS"
      [ngClass]="{
        'small-font': isScreenSmall$ | async,
        'medium-font': isScreenMedium$ | async,
        'large-font': isScreenLarge$ | async,
        'tablet-font': isScreenTablet$ | async
      }"
    >
      <div class="toast-not-in-list fadeinout" *ngIf="canShake[id]">
        Ce mot n'est pas dans la liste
      </div>
      <div
        [class.animate__headShake]="canShake[id]"
        class="letter-line animate__animated"
        [ngClass]="{
          'correct-1': isCorrect(id, 0),
          'incorrect-1': isIncorrect(id, 0),
          'present-1': isPresent(id, 0),
          unknown: isUnknown(id, 0),
          'flip-letter-1': canFlip(id, 0),
          'selection-active': isActive(id, 0),
          'small-radius':
            isScreenLarge$ ||
              isScreenMedium$ ||
              isScreenSmall$ ||
              isScreenTablet$ | async
        }"
      >
        <div [ngClass]="{ 'flip-text-1': canFlip(id, 0) }">
          {{ getLetter(id, 0) }}
        </div>
      </div>
      <div
        [class.animate__headShake]="canShake[id]"
        class="letter-line animate__animated"
        [ngClass]="{
          'correct-2': isCorrect(id, 1),
          'incorrect-2': isIncorrect(id, 1),
          'present-2': isPresent(id, 1),
          unknown: isUnknown(id, 1),
          'flip-letter-2': canFlip(id, 1),
          'selection-active': isActive(id, 1),
          'small-radius':
            isScreenLarge$ ||
              isScreenMedium$ ||
              isScreenSmall$ ||
              isScreenTablet$ | async
        }"
      >
        <div [ngClass]="{ 'flip-text-2': canFlip(id, 1) }">
          {{ getLetter(id, 1) }}
        </div>
      </div>
      <div
        [class.animate__headShake]="canShake[id]"
        class="letter-line animate__animated"
        [ngClass]="{
          'correct-3': isCorrect(id, 2),
          'incorrect-3': isIncorrect(id, 2),
          'present-3': isPresent(id, 2),
          unknown: isUnknown(id, 2),
          'flip-letter-3': canFlip(id, 2),
          'selection-active': isActive(id, 2),
          'small-radius':
            isScreenLarge$ ||
              isScreenMedium$ ||
              isScreenSmall$ ||
              isScreenTablet$ | async
        }"
      >
        <div [ngClass]="{ 'flip-text-3': canFlip(id, 2) }">
          {{ getLetter(id, 2) }}
        </div>
      </div>
      <div
        [class.animate__headShake]="canShake[id]"
        class="letter-line animate__animated"
        [ngClass]="{
          'correct-4': isCorrect(id, 3),
          'incorrect-4': isIncorrect(id, 3),
          'present-4': isPresent(id, 3),
          unknown: isUnknown(id, 3),
          'flip-letter-4': canFlip(id, 3),
          'selection-active': isActive(id, 3),
          'small-radius':
            isScreenLarge$ ||
              isScreenMedium$ ||
              isScreenSmall$ ||
              isScreenTablet$ | async
        }"
      >
        <div [ngClass]="{ 'flip-text-4': canFlip(id, 3) }">
          {{ getLetter(id, 3) }}
        </div>
      </div>
      <div
        [class.animate__headShake]="canShake[id]"
        class="letter-line animate__animated"
        [ngClass]="{
          'correct-5': isCorrect(id, 4),
          'incorrect-5': isIncorrect(id, 4),
          'present-5': isPresent(id, 4),
          unknown: isUnknown(id, 4),
          'flip-letter-5': canFlip(id, 4),
          'selection-active': isActive(id, 4),
          'small-radius':
            isScreenLarge$ ||
              isScreenMedium$ ||
              isScreenSmall$ ||
              isScreenTablet$ | async
        }"
      >
        <div [ngClass]="{ 'flip-text-5': canFlip(id, 4) }">
          {{ getLetter(id, 4) }}
        </div>
      </div>
    </div>
  </div>

  <div
    class="keyboard"
    [ngClass]="{
      'small-font': isScreenSmall$ | async,
      'medium-font': isScreenMedium$ | async,
      'large-font': isScreenLarge$ | async,
      'tablet-font': isScreenTablet$ | async
    }"
  >
    <div class="letter-row">
      <button
        class="letter-keyboard"
        *ngFor="let letter of row1"
        (click)="onClick(letter)"
        [ngClass]="{
          'correct-keyboard': isCorrectLetter(letter),
          'incorrect-keyboard': isIncorrectLetter(letter),
          'present-keyboard': isPresentLetter(letter),
          unknown: isUnknownLetter(letter),
          'small-radius':
            isScreenLarge$ ||
              isScreenMedium$ ||
              isScreenSmall$ ||
              isScreenTablet$ | async
        }"
      >
        {{ letter }}
      </button>
    </div>
    <div class="letter-row">
      <button
        class="letter-keyboard"
        *ngFor="let letter of row2"
        (click)="onClick(letter)"
        [ngClass]="{
          'correct-keyboard': isCorrectLetter(letter),
          'incorrect-keyboard': isIncorrectLetter(letter),
          'present-keyboard': isPresentLetter(letter),
          unknown: isUnknownLetter(letter),
          'small-radius':
            isScreenLarge$ ||
              isScreenMedium$ ||
              isScreenSmall$ ||
              isScreenTablet$ | async
        }"
      >
        {{ letter }}
      </button>
    </div>
    <div class="letter-row last-row">
      <button
        class="letter-keyboard"
        (click)="onClick('Enter')"
        [ngClass]="{
          'small-radius':
            isScreenLarge$ ||
              isScreenMedium$ ||
              isScreenSmall$ ||
              isScreenTablet$ | async
        }"
      >
        ⏎
      </button>
      <button
        class="letter-keyboard"
        *ngFor="let letter of row3"
        (click)="onClick(letter)"
        [ngClass]="{
          'correct-keyboard': isCorrectLetter(letter),
          'incorrect-keyboard': isIncorrectLetter(letter),
          'present-keyboard': isPresentLetter(letter),
          unknown: isUnknownLetter(letter),
          'small-radius':
            isScreenLarge$ ||
              isScreenMedium$ ||
              isScreenSmall$ ||
              isScreenTablet$ | async
        }"
      >
        {{ letter }}
      </button>
      <button
        class="letter-keyboard"
        (click)="onClick('backspace')"
        [ngClass]="{
          'small-radius':
            isScreenLarge$ ||
              isScreenMedium$ ||
              isScreenSmall$ ||
              isScreenTablet$ | async
        }"
      >
        ⌫
      </button>
    </div>
  </div>
</div>
