<div class="main-container">

    <div class="lines-holder">
        <div class="line" *ngFor="let id of LINE_IDS">
            <div class="letter-line" [ngStyle]="{'background-color': getColor(id, 0), 'border-color': getColor(id, 0)}">
                {{getLetter(id, 0)}}
            </div>
            <div class="letter-line" [ngStyle]="{'background-color': getColor(id, 1), 'border-color': getColor(id, 1)}">
                {{getLetter(id, 1)}}
            </div>
            <div class="letter-line" [ngStyle]="{'background-color': getColor(id, 2), 'border-color': getColor(id, 2)}">
                {{getLetter(id, 2)}}
            </div>
            <div class="letter-line" [ngStyle]="{'background-color': getColor(id, 3), 'border-color': getColor(id, 3)}">
                {{getLetter(id, 3)}}
            </div>
            <div class="letter-line" [ngStyle]="{'background-color': getColor(id, 4), 'border-color': getColor(id, 4)}">
                {{getLetter(id, 4)}}
            </div>
        </div>
    </div>

    <div class="keyboard">
        <div class="letter-row">
            <button class="letter-keyboard" *ngFor="let letter of row1" (click)="onClick(letter)">
                {{letter}}
            </button>
        </div>
        <div class="letter-row">
            <button class="letter-keyboard" *ngFor="let letter of row2" (click)="onClick(letter)">
                {{letter}}
            </button>
        </div>
        <div class="letter-row last-row">
            <button class="letter-keyboard" (click)="onClick('Enter')">
                Enter
            </button>
            <button class="letter-keyboard" *ngFor="let letter of row3" (click)="onClick(letter)">
                {{letter}}
            </button>
            <button class="letter-keyboard" (click)="onClick('backspace')">
                ⌫
            </button>
        </div>
    </div>

</div>