.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.letter-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    gap: 0.1em;
}

.last-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

// select first child of within .last-row
.last-row > *:first-child, .last-row > *:last-child {
    width: 25%;
}

.letter-keyboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 1.3em;
    font-weight: bold;
    background-color: #636363;
    width: 2.5em;
    height: 3.5em;
}

.line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.lines-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
}

.letter-line{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.2em;
    font-weight: bold;
    padding: 0.7em;
    margin: 0.1em;
    border-radius: 8px;
    border-style: solid;
    width: 0.5em;
    height: 0.5em;
    border: 3px solid #2f2f2f;
}

.keyboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}