<app-end-game [gameWon]="won" [gameOver]="gameOver" [solution]="solution" *ngIf="gameOver || won"></app-end-game>
<div class="main-container">
    <app-progress-spinner class="loading-spinner" [@loadingScreen]="isLoading ? 'isLoading' : 'hasLoaded'"></app-progress-spinner>
    <div class="header">
        <div class="header-content">
            <div class="french" (click)="changeLanguage('fr')" [ngClass]="{
                'language-selected': getLanguage() === 'fr'
            }">
                🇫🇷
            </div>
            <div class="title">LE MOT</div>
            <div class="english" (click)="changeLanguage('en')" [ngClass]="{
                'language-selected': getLanguage() === 'en'
            }">
                🇺🇸
            </div>
        </div>
    </div>
    <div class="lines-holder">
        <div class="line" *ngFor="let id of LINE_IDS" [ngClass]="{
            'small-font': isScreenSmall$ | async,
            'medium-font': isScreenMedium$ | async,
            'large-font': isScreenLarge$ | async,
            'tablet-font': isScreenTablet$ | async
        }">
            <div class="toast-not-in-list fadeinout" *ngIf="canShake[id]">
                Ce mot n'est pas dans la liste
            </div>
            <div [class.animate__headShake]="canShake[id]" class="letter-line animate__animated" [ngClass]="{
                    'correct-1': isCorrect(id, 0), 
                    'incorrect-1': isIncorrect(id, 0),
                    'present-1': isPresent(id, 0), 
                    'unknown': isUnknown(id, 0),
                    'flip-letter-1': canFlip(id, 0),
                    'small-radius': isScreenLarge$ || isScreenMedium$ || isScreenSmall$ || isScreenTablet$ | async
                }">
                <div [ngClass]="{'flip-text-1': canFlip(id, 0)}">
                    {{getLetter(id, 0)}}
                </div>
            </div>
            <div [class.animate__headShake]="canShake[id]" class="letter-line animate__animated" [ngClass]="{
                    'correct-2': isCorrect(id, 1),
                    'incorrect-2': isIncorrect(id, 1),
                    'present-2': isPresent(id, 1),
                    'unknown': isUnknown(id, 1),
                    'flip-letter-2': canFlip(id, 1),
                    'small-radius': isScreenLarge$ || isScreenMedium$ || isScreenSmall$ || isScreenTablet$ | async
                }">
                <div [ngClass]="{'flip-text-2': canFlip(id, 1)}">
                    {{getLetter(id, 1)}}
                </div>
            </div>
            <div [class.animate__headShake]="canShake[id]" class="letter-line animate__animated" [ngClass]="{
                    'correct-3': isCorrect(id, 2),
                    'incorrect-3': isIncorrect(id, 2),
                    'present-3': isPresent(id, 2),
                    'unknown': isUnknown(id, 2),
                    'flip-letter-3': canFlip(id, 2),
                    'small-radius': isScreenLarge$ || isScreenMedium$ || isScreenSmall$ || isScreenTablet$ | async
                }">
                <div [ngClass]="{'flip-text-3': canFlip(id, 2)}">
                    {{getLetter(id, 2)}}
                </div>
            </div>
            <div [class.animate__headShake]="canShake[id]" class="letter-line animate__animated" [ngClass]="{
                    'correct-4': isCorrect(id, 3),
                    'incorrect-4': isIncorrect(id, 3),
                    'present-4': isPresent(id, 3), 
                    'unknown': isUnknown(id, 3),
                    'flip-letter-4': canFlip(id, 3),
                    'small-radius': isScreenLarge$ || isScreenMedium$ || isScreenSmall$ || isScreenTablet$ | async
                }">
                <div [ngClass]="{'flip-text-4': canFlip(id, 3)}">
                    {{getLetter(id, 3)}}
                </div>
            </div>
            <div [class.animate__headShake]="canShake[id]" class="letter-line animate__animated" [ngClass]="{
                    'correct-5': isCorrect(id, 4),
                    'incorrect-5': isIncorrect(id, 4),
                    'present-5': isPresent(id, 4),
                    'unknown': isUnknown(id, 4 ),
                    'flip-letter-5': canFlip(id, 4),
                    'small-radius': isScreenLarge$ || isScreenMedium$ || isScreenSmall$ || isScreenTablet$ | async
                }">
                <div [ngClass]="{'flip-text-5': canFlip(id, 4)}">
                    {{getLetter(id, 4)}}
                </div>
            </div>
        </div>
    </div>

    <div class="keyboard" [ngClass]="{
        'small-font': isScreenSmall$ | async,
        'medium-font': isScreenMedium$ | async,
        'large-font': isScreenLarge$ | async,
        'tablet-font': isScreenTablet$ | async
    }">
        <div class="letter-row">
            <button class="letter-keyboard" *ngFor="let letter of row1" (click)="onClick(letter)" [ngClass]="{
                    'correct-keyboard': isCorrectLetter(letter),
                    'incorrect-keyboard': isIncorrectLetter(letter),
                    'present-keyboard': isPresentLetter(letter),
                    'unknown': isUnknownLetter(letter),
                    'small-radius': isScreenLarge$ || isScreenMedium$ || isScreenSmall$ || isScreenTablet$ | async
                }">
                {{letter}}
            </button>
        </div>
        <div class="letter-row">
            <button class="letter-keyboard" *ngFor="let letter of row2" (click)="onClick(letter)" [ngClass]="{
                'correct-keyboard': isCorrectLetter(letter),
                'incorrect-keyboard': isIncorrectLetter(letter),
                'present-keyboard': isPresentLetter(letter),
                'unknown': isUnknownLetter(letter),
                'small-radius': isScreenLarge$ || isScreenMedium$ || isScreenSmall$ || isScreenTablet$ | async
            }">
                {{letter}}
            </button>
        </div>
        <div class="letter-row last-row">
            <button class="letter-keyboard" (click)="onClick('Enter')" [ngClass]="{
                'small-radius': isScreenLarge$ || isScreenMedium$ || isScreenSmall$ || isScreenTablet$ | async
            }">
                Enter
            </button>
            <button class="letter-keyboard" *ngFor="let letter of row3" (click)="onClick(letter)" [ngClass]="{
                'correct-keyboard': isCorrectLetter(letter),
                'incorrect-keyboard': isIncorrectLetter(letter),
                'present-keyboard': isPresentLetter(letter),
                'unknown': isUnknownLetter(letter),
                'small-radius': isScreenLarge$ || isScreenMedium$ || isScreenSmall$ || isScreenTablet$ | async
            }">
                {{letter}}
            </button>
            <button class="letter-keyboard" (click)="onClick('backspace')" [ngClass]="{
                'small-radius': isScreenLarge$ || isScreenMedium$ || isScreenSmall$ || isScreenTablet$ | async
            }">
                ⌫
            </button>
        </div>
    </div>

</div>